@font-face {
  font-family: "atc-light";
  src: url("../fonts/ATCArquette-Light.ttf");
}
@font-face {
  font-family: "atc-regular";
  src: url("../fonts/ATCArquette-Regular.ttf");
}
@font-face {
  font-family: "atc-medium";
  src: url("../fonts/ATCArquette-Medium.ttf");
}

@font-face {
  font-family: "atc-bold";
  src: url("../fonts/ATCArquette-Bold.ttf");
}
@font-face {
  font-family: "atc-black";
  src: url("../fonts/ATCArquette-Black.ttf");
}

/* universal */

* {
  font-family: "atc-regular";
}

/* navbar */
.text-blue {
  color: #1a2a6b;
}

.medium {
  font-family: "atc-medium";
}

.btn-blue {
  background-color: #1a2a6b;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: "atc-medium";
}

.nav-link {
  margin-left: 20px;
}

.bold {
  font-family: "atc-bold";
}

/* hero */
.title {
  font-size: 90px;
}

.hero {
  background: url("../img/hero.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 250px 0;
}
