@font-face {
  font-family: "atc-light";
  src: url("../fonts/ATCArquette-Light.ttf");
}
@font-face {
  font-family: "atc-regular";
  src: url("../fonts/ATCArquette-Regular.ttf");
}
@font-face {
  font-family: "atc-medium";
  src: url("../fonts/ATCArquette-Medium.ttf");
}

@font-face {
  font-family: "atc-bold";
  src: url("../fonts/ATCArquette-Bold.ttf");
}
@font-face {
  font-family: "atc-black";
  src: url("../fonts/ATCArquette-Black.ttf");
}

/* universal */

* {
  font-family: "atc-regular";
}

body,
html {
  overflow-x: hidden;
}

/* navbar */
.text-blue {
  color: #1a2a6b;
}

.medium {
  font-family: "atc-medium";
}

.btn-blue {
  background-color: #1a2a6b !important;
  color: white !important;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: "atc-medium";
}

.nav-link {
  margin-left: 20px;
}

.bold {
  font-family: "atc-bold";
}

/* hero */
.title {
  font-size: 90px;
}

.hero {
  background: url("../img/hero.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 250px 0;
}

/* unlock */
.text-sky {
  color: #4e6ff6;
}
.fs-60 {
  font-size: 60px;
}
.fs-32 {
  font-size: 32px;
}
.btn-sky {
  background-color: #4e6ff6 !important;
  color: white !important;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: "atc-medium";
}

.bg-blue {
  background-color: #1a2a6b;
}
.fs-24 {
  font-size: 24px;
}
.bg-sky {
  background-color: #4e6ff6 !important;
}
.icon {
  min-width: 90px;
  min-height: 90px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.fs-18 {
  font-size: 18px;
}

.cards .card {
  border-radius: 20px;
}
.br-20 {
  border-radius: 20px;
}

/* video */
iframe {
  height: 700px;
  width: 100%;
  position: relative;
  z-index: 10;
}
.video::after {
  content: "";
  position: absolute;
  height: 400px;
  width: 100%;
  background: #1a2a6b;
  bottom: 0;
  left: 0;
}

.vid {
  position: relative;
  z-index: 1;
}

.play.position-absolute {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line */
.line {
  height: 3px;
  background-color: white;
}

/* cards */
.fs-22 {
  font-size: 22px;
}

/* footer */
.f-menu-item {
  border-bottom: 1px solid #4e6ff6;
}
.icons img {
  height: 24px;
}

/* treatment page */

.p-100 {
  padding: 100px;
}

.h-100vh {
  height: calc(100vh - 85px);
  object-fit: cover;
}

/* timeline */
.col-md-2.text-center.line-holder.p-0.bit-off {
  margin-top: 145px;
}
.col-md-5.p-0.bit-off {
  margin-top: 100px;
}
.row.mt-5.pt-5.wireframe .col-md-5 {
  max-width: 38.5%;
}
.col-md-2.text-center.line-holder.p-0.bit-off {
  max-width: 23%;
  width: 23%;
}
.col-md-2.text-center.line-holder.p-0.bit-off img {
  width: 95%;
}

/* elligibility */
.fs-20 {
  font-size: 20px;
}

/* testimonial page */
.testimonial-hero {
  background: url("../img/testimonial-banner.png");
}

/* research */

.nav-tabs li.nav-item {
  width: 33.33%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.nav-tabs .nav-link.active {
  color: #4e6ff6 !important;
}
ul#myTab {
  border-bottom: 3px solid white;
}

.accordion * {
  background-color: transparent !important;
  border: none !important;
  color: white;
  box-shadow: unset !important;
}

button:focus {
  outline: unset !important;
  box-shadow: unset !important;
}

.accordion-button {
  border-bottom: 2px solid white !important;
  border-radius: 0 !important;
}

.accordion-button::after {
  display: none !important;
}

.accordion-button.collapsed {
  background-image: url("../img/plus-1.png");
  background-repeat: no-repeat;
  background-position: left 30%;
  padding-left: 100px;
}
.accordion-button {
  background-image: url("../img/minus.png");
  background-repeat: no-repeat;
  background-position: left 30%;
  padding-left: 100px;
}

.accordion-body {
  padding-left: 100px;
}
